.pagina-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagina-2 p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #293845;
    padding: 45px 0;
    margin-top: 67px;
}

.sessoes {
    width: 90%;
    margin-bottom: 117px;
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.loading h6 {
    font-weight: 400;
    font-size: 40px;
    line-height: 30px;
    color: #595f64;
}